.venue-section { 
    margin-top: 70px;
    background-image: url(../img/cover3.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
    text-align: center;
    position: relative;
    z-index: 1; /* Ensure the section is above other elements */
    min-height: 400px; /* Optional: Use min-height to ensure a minimum height */
}
.venue-header {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff; /* White background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
    color: #4F6F52;
    position: absolute;
    bottom: -100px; /* Adjust this value to control the overlap */
    left: 50%;
    transform: translateX(-50%);
    z-index: 2; /* Ensure the head is above the section */
}

.venue-header h1 {
    margin-bottom: 20px;
    color: #4F6F52;
    animation: slideInDown 1s ease-out;
}

.venue-header p {
    color: #4F6F52;
    line-height: 1.6;
    animation: slideInUp 1s ease-out;
}

/* Animation */
.animated {
    animation-fill-mode: both;
    animation-duration: 1s;
    opacity: 0;
}

.animated.fadeIn {
    animation-name: fadeIn;
}

/* Animation keyframes */
@keyframes slideInDown {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInUp {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.venue-con {
    margin: 150px 0px 0px 0px;
    padding: 20px;
}

.separator {
    border-top: 1px solid #ddd;
    margin: 40px 0;
}

.header, .subheader {
    text-align: center;
    margin: 20px 0;
}

.place-name {
    font-weight: bold;
    margin-top: 20px;
}

.map {    
    height: 300px;
    width: 100%;
}

.venue-pic {
    width: 100%;
    height: 300px;
}

.description p {
    width: 100%;
}

 /* Animation Keyframes */
 @keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

/* Animations */
.animated {
    animation-fill-mode: both;
    animation-duration: 1s;
    opacity: 0;
}

.animated.zoomIn {
    animation-name: zoomIn;
}

.animated.fadeIn {
    animation-name: fadeIn;
}

/* Hover Effects */
.venue-pic {
    transition: transform 0.3s ease-out;
}

.venue-pic:hover {
    transform: scale(1.05);
}

.place-name {
    transition: color 0.3s ease-out;
}

.venue-con .col-md-4:hover .place-name {
    color: #99BC85;
}

/* Navbar Animation */
.navbar {
    animation: fadeInDown 1s forwards;
}

